@font-face {
    font-family: 'Cabin Regular';
    src: url(font/Cabin/static/Cabin-Regular.ttf);
}

@font-face {
    font-family: 'Cabin Semi';
    src: url(font/Cabin/static/Cabin-SemiBold.ttf);
}

@font-face {
    font-family: 'Cabin Bold';
    src: url(font/Cabin/static/Cabin-Bold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#navbarNav a {
    font-family: 'Cabin Semi';
    font-size: 1.3rem;
    color: #414141;
}

#navbarNav a:hover {
    color: #c77a23;
}

.top-deskripsi {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 510px;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 30px;
    position: absolute;
    top: 60px;
}

.judul-top {
    font-family: "Cabin Bold";
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
    text-align: right;
}

.judul-top h1 {
    font-size: 50px;
    color: #997A5E;
    text-shadow: 2px 2px 2px black;
}

.judul-top p {
    font-size: 20px;
    letter-spacing: 3px;
    color: #F19C38;
    font-weight: 900;
}

.isi-top p {
    font-family: "Cabin Regular";
    font-size: 20px;
    color: #6e6e6e;
    text-align: right;
}

.menu-makanan {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-inline: 50px;
    background-color: #FBF7F1;
}

.judul-menu-makanan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.judul-menu-makanan h1 {
    font-family: "Cabin Bold";
    font-size: 30px;
    color: #F19C38;
    text-shadow: 2px 2px 2px black;
}

.isi-menu-makanan {
    display: grid;
    grid-template-columns: repeat(3,250px);
    justify-content: center;
    column-gap: 150px;
    row-gap: 75px;
}

.makanan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 20px;
    cursor: pointer;
}

.makanan-container:hover {
    transform: scale(1.2);
}

.makanan-image img {
    width: 200px;
}

.makanan-container .nama-makanan p {
    font-family: "Cabin Semi";
    font-size: 20px;
    color: #614a37;
    font-weight: 600;
}

.menu-minuman {
    padding-bottom: 100px;
    padding-inline: 50px;
    background-color: #FBF7F1;
}

.judul-menu-minuman {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.judul-menu-minuman h1 {
    font-family: "Cabin Bold";
    font-size: 30px;
    color: #F19C38;
    text-shadow: 2px 2px 2px black;
}

.isi-menu-minuman {
    display: grid;
    grid-template-columns: repeat(2,250px);
    justify-content: center;
    column-gap: 150px;
    row-gap: 75px;
}

.minuman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 20px;
    cursor: pointer;
}

.minuman-container:hover {
    transform: scale(1.2);
}

.minuman-image img {
    width: 200px;
}

.minuman-container .nama-minuman p {
    font-family: "Cabin Bold";
    font-size: 20px;
    color: #614a37;
    font-weight: 600;
}

.logo-footer img {
    width: 110px;
    padding-top: 40px;
}

#judul-kelompok h1 {
    font-family: "Cabin Bold";
}

#judul-kelompok p {
    font-family: "Cabin Regular";
}

#nama-member {
    gap: 50px;
}

#biodata #nama-member p {
    width: 150px;
    font-family: "Cabin Regular";
}

#biodata #nim-member p {
    width: 150px;
}

@media (max-width: 768px) {
    .top-deskripsi {
        top: 20px;
        width: 323px;
    }

    .judul-top {
        padding-bottom: 0px;
    }

    .judul-top h1 {
        font-size: 1.8rem;
    }

    .judul-top p {
        font-size: 1rem;
    }

    .isi-top p {
        font-size: 0.8rem;
    }

    .isi-menu-makanan {
        grid-template-columns: repeat(2,250px);
    }

    #biodata #nama-member p {
        width: 100px;
    }

    #biodata #nim-member p {
        width: 100px;
    }
}

@media (max-width: 575px) {
    .top-deskripsi {
        top: 10px;
        width: 240px;
    }

    .judul-top {
        padding-bottom: 0px;
    }

    .judul-top h1 {
        font-size: 1.5rem;
    }

    .judul-top p {
        font-size: 0.7rem;
    }

    .isi-top p {
        font-size: 0.6rem;
    }

    .isi-menu-makanan {
        grid-template-columns: repeat(2,190px);
        column-gap: 100px;
        row-gap: 50px;
    }

    .makanan-image img {
        width: 150px;
    }

    .isi-menu-minuman {
        grid-template-columns: repeat(2,190px);
        column-gap: 100px;
        row-gap: 50px;
    }

    .minuman-image img {
        width: 150px;
    }
}